* {
    box-sizing: border-box;
}
.content {
    width: auto;
    position: absolute;
    top: 30%;
    left: 35%;
}

.wrapper1 {
    display: flex;
}

.box {
    width: 280px !important;
    height: 150px;
    position: relative;
   
}
.wrapper1 .box1 {
    border: 2px solid red;
}
.wrapper1 .box2 {
    border: 2px solid yellow;
}
.wrapper1 .box3 {
    border: 2px solid green;
}
.wrapper1 .box4 {
    border: 2px solid orangered;
}

.wrapper2 .box1 {
    width: 90px;
    height: 100px;
    position: relative;
    top: 309px;
    left: 765px;
    border: 2px solid purple;
}

@media screen and (min-device-width: 0) and (max-device-width: 325px) {
    .content {
        top: 30%;
        left: 6%;
    }
    .box {
        width: 19.5vh !important;
        height: 70px;
    }
    .wrapper2 .box1 {
        width: 12vh;
        height: 80px;
        top: 210px;
        left: 95px;
    }
}

@media screen and (min-device-width: 326px) and (max-device-width: 448px) {
    .content {
        top: 30%;
        left: 7%;
    }
    .box {
        width: 23.7vh !important;
        height: 85px;
    }
    .wrapper2 .box1 {
        width: 12vh;
        height: 80px;
        top: 225px;
        left: 130px;
    }
} 

@media screen and (min-device-width: 449px) and (max-device-width: 770px) {
    .content {
        top: 30%;
        left: 7%;
    }
    .wrapper2 .box1 {
        top: 286px;
        left: 278px;
    }
}

@media screen and (min-device-width: 771px) and (max-device-width: 1026px){
    .content {
        top: 30%;
        left: 13%;
    }
    .wrapper2 .box1 {
        top: 286px;
        left: 358px;
    }
}

 @media screen and (min-device-width: 1027px) and (max-device-width: 1444px) {
    .wrapper2 .box1 {
        top: 326px;
        left: 730px;

    }
}
@media  screen and (min-device-width:1545px) and (max-device-width: 2561px) {
    .wrapper2 .box1 {
        top: 512px;
        left: 1120px;
    }
}
