table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #c9c8c8;
    text-align: center;
    padding: 8px;
  }
  
  tr:nth-child(odd) {
    background-color: #dddddd;
  }